PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/atlas_hrms?schema=public"
JWT_SECRET="super-secret-jwt-key"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="super-secret-refresh-jwt-key"
JWT_REFRESH_EXPIRATION="7d"

UPLOADTHING_TOKEN="sua-token-do-uploadthing-aqui"
UPLOADTHING_SECRET="sua-secret-key-do-uploadthing-aqui"
RESEND_API_KEY="seu-token-do-resend-aqui"
FRONTEND_URL="http://localhost:3000"
